* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: rgb(51, 51, 51);
}

.joke-card {
  background-color: rgb(70, 69, 69);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  color: white;
  margin: auto;
}

.jokes-layout {
  display: flex;
  padding: 10px;
}

.joke-button {
  border-radius: 5px;
  background-color: gray;
  color: white;
  border: 0px;
  padding: 5%;
  justify-items: center;
}

.button-icon {
  -webkit-filter: invert(1);
  filter: invert(1);
  height: 20px;
  width: 20px;
}

.punchline-div {
  justify-items: center;
  display: flex;
  justify-content: center;
}