* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: rgb(51, 51, 51);
}

.joke-card {
  background-color: rgb(70, 69, 69);
  border-radius: 4px;
  padding: 5px;
  width: 200px;
  color: rgb(70, 69, 69);
  margin: auto;
}
.joke-card>p {
  color: white;
}

.joke-card:hover {
  color: white;
}

.jokes-layout {
  display: flex;
  padding: 10px;
}